<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/Anime-background-img.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
       {{>header}}
       <div style="text-align: center;flex-grow: 1; margin-top:40px">
           <p style="font-size: 50px;">{{message}}, Please redirect to {{url}} </p>
       </div>
       <a href="../home"> &#60;&#60; Back to Home </a>
       {{>footer}}
    </body>
</html>